<br><br><br>  
    <h5>Bagikan :</h5>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="Bagikan ke Facebook"
            style="font-size:27px;">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="Bagikan ke Twitter"
            style="font-size:26px;">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="Bagikan ke Pinterest"
            style="font-size:27px;">
            <i class="fab fa-pinterest"></i>
        </a>
        <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="Bagikan ke Tumblr"
            style="font-size:27px;">
            <i class="fab fa-tumblr-square"></i>
        </a>
        <a href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="Bagikan ke Reddit"
            style="font-size:27px;">
            <i class="fab fa-reddit-alien"></i>
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
            title="Bagikan ke LinkedIn"
            style="font-size:27px;">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
            title="Bagikan via Email"
            style="font-size:27px;">
            <i class="fa fa-envelope"></i>
        </a>
