<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body style="background-color:#303d4b;">
        {% include header.html %}
        <div class="container" style="max-width:900px;margin:auto;background-color:#34495e;color:#ffffff;font-family:'Open Sans', sans-serif;">
            <div class="jumbotron" style="background-color:transparent;padding:10px;margin-bottom:3px;padding-bottom:8px;">
                <h3>{{ page.title }}</h3>
                <hr style="background-color:#e8e4e4;">
            </div>
            <div class="container" style="max-width:900px;margin:auto;background-color:#34495e;color:#ffffff;font-family:'Open Sans', sans-serif;">
                <div class="jumbotron" style="background-color:transparent;padding:1px;padding-bottom:10px;">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
