<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body style="background-color:#303d4b;">
        {% include header.html %}
        <div class="container" style="max-width:900px;margin:auto;background-color:transparent;color:#ffffff;font-family:'Open Sans', sans-serif;text-align: justify;">
                {% for rel in page.staff %}
                <div class="staff-row">
                    <div class="staff-column">
                      <div class="staff-card">
                        <img src="{{ rel.ava }}" alt="{{ rel.nick }}" style="width:100%">
                        <div class="staff-container">
                          <h3>{{ rel.nick }}</h3>
                          <p class="staff-title">{{ rel.role }}</p>
                          <p>{{ rel.desc }}</p>
                        </div>
                      </div>
                    </div>
                {% endfor %}
        </div>
        {% include footer.html %}
    </body>
</html>
  
